.box{
border: 1px solid;
margin: auto;
width: 80%;
margin-top: 50px;
}
.one,.two{
margin: auto;
border: solid black 2px;
text-align: center;
margin-top: 3px;
margin-bottom: 2px;
padding: 3%;
width: 60%;
color: rgb(100, 163, 105);
font-size: large;
background-color: rgb(232, 247, 232);
}
.three{
    margin: auto;
    border: solid black 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 250px;
    width: 15%; 
    float: left;
    margin-left: 16.9%;  
    color: rgb(100, 163, 105);
    font-size: large;
    background-color: rgb(232, 247, 232);
}
.four{
    margin: auto;
    border: solid black 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    height: 250px;
    width: 35%; 
    float: left;  
    color: rgb(100, 163, 105);
    font-size: large;
    background-color: rgb(232, 247, 232);
}
.five{
    margin: auto;
    border: solid black 2px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    height: 250px;
    width: 15%; 
    float: left;
    margin-left: 2px;
    color: rgb(100, 163, 105);
    font-size: large; 
    background-color: rgb(232, 247, 232);  
}
.six{
    margin: auto;
    border: solid black 2px;
    text-align: center;
    margin-top: 262px;
    padding: 3%;
    width: 60%; 
    color: rgb(100, 163, 105);
    font-size: large;
    background-color: rgb(232, 247, 232);
}