.main{
    border: 1px solid;
    width: 80%;
    margin: auto;
    height: 560px;
    color: white;
}
.fm{
    border: 1px solid;
    width: 30%;
    height: 50px;
    float: left;
    color: white;
    background-color: red;
    text-align: center;
}
header{
border: 1px solid;
width: 100%;
height: 50px;
color: white;
background-color: #000;
text-align: center;
}
.sb{
    border: 1px solid;
    width: 20%;
    height: 502px; 
    float: left;
    margin-top: 5px;
    text-align: center;
    background-color: rgb(27, 180, 27);
    color: white;
}
.pr{
    border: 1px solid;
    width: 60%;
    height: 200px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center; 
    background-color: rgb(5, 5, 196);
    color: white;
}
.m2{
    border: 1px solid;
    width: 18%;
    height: 430px;
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    float: right;
    color: white;
}
.child-1{
    border: 1px solid;
    width: 100%;
    height: 100px;
    clear: both;
    text-align: center;
    background-color: red;
    color: white;
}
.child-2{
    border: 1px solid;
    width: 100%;
    height: 100px;
    position: relative;
    top: 120px;
    text-align: center;
    background-color: red;
    color: white;
}
.child-3{
    border: 1px solid;
    width: 100%;
    height: 100px;
     margin-top: 5px;
    position: relative;
    top: 120px;
    text-align: center;
    background-color: pink;
    color: white;
}
.m3{
    border: 1px solid;
    width: 60%;
    height: 228px;
    margin-left: 5px;
    margin-top: 5px; 
    float: left;
    position: relative;
    color: white;
}
.bonus1{
    border: 1px solid;
    width: 150px;
    height: 100px;
    margin-top: 5px;
    clear: both;
    top: 5px; 
    float: left;
    text-align: center;
    background-color: pink;
    
}
.bonus2{
    border: 1px solid;
    width: 150px;
    height: 100px;
    margin-top: 5px;
    position: absolute;
    right: 5px;
    text-align: center;
    background-color: pink;
    
    
}
.bonus3{
    border: 1px solid;
    width: 150px;
    height: 100px;
    margin-top: 5px;
    top: 5px; left: 150px;
    position: absolute;
    top: 110px;
    text-align: center;
    background-color: pink;
}
footer{
    border: 1px solid;
    width: 800px;
    height: 60px;   
    position: absolute;
    top: 56%; left: 344px; 
    text-align: center;
    background-color: orange;
    color: white;
}
